@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}


/* Text Colors */
.text-primary {
  color:#e76f51;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 100px;
}

.navbarleft {
  display: flex;
  align-items: center;
}

#home-btn {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

#home-btn:hover {
  color:#e76f51;
}

.navbar .navbar-left .logo {
  font-weight: 400;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  height: 40px;
  width: 40px;
  border: #adb5bd 3px solid;
  border-radius: 50%;
}

.profile-pic:hover {
  cursor: pointer;
  border: #e76f51 3px solid;
}

/* Header */
.hero {
  background: url('../images/courses-showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .pathways-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .pathways-container h1 {
  font-size: 55px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  color: #e76f51;
  font-weight: bolder;
}

#muscle-container,
#strength-container,
#weight-container {
  border-radius: 10%;
  margin: 30px 10px 0px 10px;
  padding: 50px 30px;
  height: 350px;
  background: rgba(51, 51, 51, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  box-shadow: 2px 2px 6px -3px #333;
}

#muscle-container:hover,
#strength-container:hover,
#weight-container:hover {
  cursor: pointer;
  color: #e76f51;
}

#muscle-container p,
#strength-container p,
#weight-container p {
  padding-top: 10px;
  font-size: larger;
}


#muscle-img {
  background: url(../images/muscle.jpg) no-repeat center center/cover;
  opacity: 0.6;
  border-radius: 10%;
  width: 250px;
  height: 300px;
  box-shadow: 2px 2px 6px 2px #333;
}

#muscle-img.hover {
  opacity: 1;
}

#strength-img {
  background: url(../images/strength.jpg) no-repeat center center/cover;
  opacity: 0.6;
  border-radius: 10%;
  width: 250px;
  height: 300px;
  box-shadow: 2px 2px 6px 2px #333;
}
#strength-img.hover {
  opacity: 1;
}

#weight-img {
  background: url(../images/weight.jpg) no-repeat center center/cover;
  opacity: 0.6;
  border-radius: 10%;
  width: 250px;
  height: 300px;
  box-shadow: 2px 2px 6px 2px #333;
}
#weight-img.hover {
  opacity: 1;
}

/* media query */
@media all and (min-width: 1700px) {
  .pathways {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 60%;
  }
}


@media all and (max-width: 1700px) {
  .pathways {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 1000px;
  }
}

@media all and (max-width: 1100px) {
  .pathways {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
  }
}