<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}"/>
    <meta charset="UTF-8">
    <title>Gym Bros</title>
</head>
<body>
<div class="banner"></div>
<ul class="navigation">
    <li><a href="#">Home</a></li>
    <li><a href="#">Courses</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>
<h1>Hello world</h1>
<p> Welcome to the homepage for GymBro's CITS3403 project</p>

<div>
<section class="container">
    <div class="left-half">
        <img src="{{ url_for('static', filename='strength.jpeg') }}" />
    </div>
    <div class="right-half">
        <h1>We have all your needs covered</h1>
        <ul>
            <li>Strength training</li>
            <li>Dieting</li>
            <li>Bulking/Cutting</li>
        </ul>
    </div>
</section>
</div>
</body>
</html>